*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    background-color: #3d3d3d;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li{
    position: relative;
}

.menu a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.menu a:hover{
    background-color: rgb(88, 88, 88);
}
.submenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3d3d3d;
    list-style: none;
}
.submenu li {
    width: 200px;

}
.submenu a{
    padding: 10px 20px;
}

.menu li:hover .submenu{
    display: block;   
}


@media (max-width: 768px) {
    .menu{
        flex-direction: column;
    }

    .submenu{
        position: static;
    }
}