*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.title-gallery h2{
  text-align: center;
  margin: 3%;
  font-size: 30px;
  font-weight: 600;
}

.gallery{
  padding: 2%;
  display: grid;
  gap: 4%;
}

.gallery-item{
  border: solid 1px #000;
  border-radius: 8px;
  padding: 3%;
  position: relative;
	transition: transform 0.3s, box-shadow 0.3s;	
  cursor: pointer;
  outline: none;
}

.gallery-item img {
  height: auto;
  width: 100%;
  max-width: 350px;
  min-height: 100px;
  display: block;
  margin: auto;  
}

.gallery-item h3{
  color: brown;
  margin: 10px 0;
  text-align: center;
}

/*MediaQuery*/
@media (max-width: 992px) {
  .gallery{
    grid-template-columns: repeat(4, 1fr);
  }
}